body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main_div{
  background-color: rgb(138, 102, 156);
  height: 100vh;
}
.center_div{
  position: absolute;
  width:30%;
  height: 70%;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 50px black;
  overflow-y: auto;
}
.head_input{
  position:sticky;
  top:0px;
  background-color: white;
}
h1{
  margin-top: 0px;
  background-color: rgb(159, 117, 180);
  text-align: center;
  color: aliceblue;
}
input{
  margin-left: 12%;
  width: 60%;
  border: none;
  border-bottom: 2px solid rgb(159, 88, 192);
  outline:none;
  text-align: center;
  font-size: 16px;
}
.add{
  margin-left: 5px;
  border-radius: 100%;
  background-color: rgb(159, 88, 192);
  font-size: 25px;
  cursor: pointer;
  color: white;
  border: none;
  font-weight: bold;
}
.add:hover{
  color: green;
}
ul{
  list-style-type: none;
}
.list_style{
  display: flex;
}
.list_style li{
  width:100%;
  margin: 5px;
  color: rgb(184, 98, 224);
  font-weight: bold;
  padding-top: 5px;
}
.remove{
  margin: 5px;
  border-radius: 100%;
  background-color: rgb(159, 88, 192);
  font-size: 20px;
  cursor: pointer;
  color: white;
  border: none;
  font-weight: bold;
}
.remove:hover{
  color: red;
}